name: Lint

on: [push, pull_request, workflow_dispatch]

env:
  FORCE_COLOR: 1

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: hugovk/pre-commit-action-uv@v3.0.1

  mypy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: hynek/setup-cached-uv@v2
      - name: Mypy
        run: uvx --with tox-uv tox -e mypy
